<h1>Parcel Shipping Cost Calculator</h1>
<form action="/results" method="get">
  <div class="form-group">
    <label for="width">Enter width</label>
    <input class="form-control" type="text" name="width" id="width">
    <label for="length">Enter length</label>
    <input class="form-control" type="text" name="length" id="length">
    <label for="height">Enter height</label>
    <input class="form-control" type="text" name="height" id="height">
    <label for="weight">Enter weight</label>
    <input class="form-control" type="text" name="weight" id="weight">
  </div>
  <div class="form-group">
    <label for="speed"> Choose your shipping speed</label>
    <select class="form-control" name ="speed" id="speed">
      <option value="1">Next Day</option>
      <option value="2">2-3 Days</option>
      <option value="3">Standard</option>
    </select>
  </div>
  <button type="submit" class="btn-success submit-btn">Submit</button>
</form>
