<h1>Parcel Shipping Cost Calculator</h1>
<h2>Your parcel will cost:<%= @parcel.cost_to_ship()%> dollars.</h2>

<form action="/" method="get">
  <button class="btn-danger" type="submit" name="reset">Try it again</button>
</form>
